<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Adding fontawesome to use icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

  <!-- Adding EmailJS -->
  <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
  
  <link rel="stylesheet" href="../css/main.css">
  <title>VisitApp Check-In</title>
</head>

<body>
  <header>
    <div class="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">VisitApp</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" id="visitsToday" href="dashboard.html">Visitas del Día</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="checkIn" href="checkIn.html">Check-In</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="registerForm" href="newVisit.html">Registro de Visitante</a>
              <span class="sr-only"></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="reportsGenerator" href="reports.html">Generar reporte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logOutBtn">Cerrar Sesión</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline my-2 my-sm-0" type="button" id="searchText">Buscar</button>
          </form>
        </div>
      </nav>
    </div>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="result col-md-12">
        <form id="content" class="visit-form">
          <h1>Registra un Visitante: </h1>
          <div class="form-group">
            <label for="visitCheckIn">ID de Registro: </label>
            <input type="text" name="id" id="idCheckIn">
          </div>
          <button class="btn btn-outline" id="validateChechIn">Check-In</button>
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- Adding Bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Adding Firebase -->
  <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>

  <!-- Addign SweetAlert for alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>

  <!-- Adding email service-->
  <script src="https://smtpjs.com/v2/smtp.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/checkIn.js"></script>
  <script src="../js/notification.js"></script>
</body>

</html>