<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form class="form-horizontal">
                <fieldset>
                
                <!-- Form Name -->
                <legend>Form Name</legend>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="compay">Empresa</label>  
                  <div class="col-md-4">
                  <input id="company" name="compay" type="text" placeholder="" class="form-control input-md" required="">
                    
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="textinput">hostName</label>  
                  <div class="col-md-4">
                  <input id="hostName" name="textinput" type="text" placeholder="host" class="form-control input-md" required="">
                    
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="hostPhone">telefono</label>  
                  <div class="col-md-4">
                  <input id="hostPhone" name="hostPhone" type="text" placeholder="" class="form-control input-md" required="">
                    
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="jobPosition">Posición</label>  
                  <div class="col-md-4">
                  <input id="jobPosition" name="jobPosition" type="text" placeholder="" class="form-control input-md" required="">
                    
                  </div>
                </div>
                
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="hostEmail">Email</label>  
                  <div class="col-md-4">
                  <input id="hostEmail" name="hostEmail" type="email" placeholder="" class="form-control input-md" required="">
                    
                  </div>
                </div>
                
                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="boton">registro</label>
                  <div class="col-md-4">
                    <button id="button" name="boton" class="btn btn-primary">Registro</button>
                  </div>
                </div>
                
                </fieldset>
                </form>

                <script src="../js/init.js"></script>
                <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
                <script src="../js/filldb.js"></script>
                
</body>
</html>