<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Adding fontawesome to use icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Adding Font -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
  <!-- Addign SweetAlert for alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/takeAPicture.css">
  <title>VisitApp Registra tu Visita</title>
</head>

<body>
    <header>
        <div class="menu">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">VisitApp</a>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" id="visitsToday" href="dashboard.html">Visitas del Día</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" id="checkIn" href="checkIn.html">Check-In</a>
                  <span class="sr-only">(current)</span>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" id="registerForm" href="newVisit.html">Registro de Visitante</a>
                  <span class="sr-only"></span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="reportsGenerator" href="reports.html">Generar reporte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="logOutBtn">Cerrar Sesión</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline my-2 my-sm-0" type="button" id="searchText">Buscar</button>
              </form>
            </div>
          </nav>
        </div>
      </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 align-form">
        <h1>¡Registra un nuevo Visitante!</h1>
        <form class="form-horizontal form-group mt-4">          
          <div class="mt-4 col-md-4 form-group">
            <label class=" control-label" for="visitorName"><strong><i class="fas fa-user"></i> Nombre </strong></label>
            <input id="visitorName" name="visitorName" type="text" placeholder="Nombre del Visitante" class="form-control input-md" required="">
          </div> 
          <div class=" mt-4 col-md-4 form-group">
            <label class=" control-label" for="visitDate"> <strong><i class="far fa-calendar-check"></i> Fecha: </strong> </label>
            <input id="visitDate" name="visitDate" type="date" placeholder="¿Qué día es hoy?" class="form-control input-md" required="">
          </div>
          <div class="mt-4 col-md-4 form-group">
            <label class=" control-label" for="companyName"> <strong><i class="fas fa-building"></i> Empresa que visita: </strong></label>
            <select id="companyName" name="companyName" class="form-control" aria-placeholder="Empresa">
            </select>
          </div>
          <div class="mt-4 col-md-4 form-group">
            <label class=" control-label" for="hostName"><strong><i class="fas fa-user-tie"></i> ¿A quien visita?</strong></label>
            <select id="hostName" name="hostName" class="form-control" aria-placeholder="Anfitrión">
            </select>
          </div>
          
          <div id="snapShot" class="app">
            <p><strong>Toma una foto del visitante para un registro más seguro <i class="fas fa-smile-wink"></i></strong></p>
            <a href="#" id="start-camera" class="visible"></a>
            <video id="camera-stream"></video>
            <img id="snap">

            <p id="error-message"></p>

            <div class="controls">
              <a href="#" id="delete-photo" title="Eliminar Foto" class="disabled">
                <i class="material-icons">delete</i>
              </a>
              <a href="#" id="take-photo" title="Tomar Foto">
                <i class="material-icons">camera_alt</i>
              </a>
              <a href="#" id="download-photo" download="foto.jpg" title="Descargar Foto" class="disabled">
                <i class="material-icons">file_download</i>
              </a>
            </div>

            <canvas></canvas>

          </div>

          <div class="col-md-4">
            <button id="visitRegister" name="visitRegister" class="btn btn-dark btn-block">Finalizar Registro</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/init.js"></script>
  <script src="../js/takeAPicture.js"></script>
  <script src="../js/newVisit.js"></script>
</body>

</html>