<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Adding Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <!-- Adding fontawesome to use icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
  <!-- Adding Font -->
  <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
  <!-- Addign SweetAlert for alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
  <link rel="stylesheet" href="../css/main.css">
  <title>VisitApp Registra tu Visita</title>
</head>

<body>
  <header>
    <div class="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">VisitApp</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" id="visitsToday" href="dashboard.html">Visitas del Día
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="checkIn" href="checkIn.html">Check-In</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" id="registerForm" href="newVisit.html">Registro de Visitante</a>
              <span class="sr-only"></span>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="reportsGenerator">Generar reporte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logOutBtn">Cerrar Sesión</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline my-2 my-sm-0" type="button" id="searchText">Buscar</button>
          </form>
        </div>
      </nav>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 align-form">
        <form class="form-horizontal form-group">
          <label class="col-md-4 control-label" for="visitorName"></label>
          <div class="col-md-4">
            <input id="visitorName" name="visitorName" type="text" placeholder="Nombre del Visitante" class="form-control input-md" required="">
          </div>
          <label class="col-md-4 control-label" for="visitorEmail"></label>
          <div class="col-md-4">
            <input id="visitorEmail" name="visitorEmail" type="text" placeholder="Email del Visitante" class="form-control input-md" required="">
          </div>
          <label class="col-md-4 control-label" for="visitDate"></label>
          <div class="col-md-4">
            <input id="visitDate" name="visitDate" type="date" class="form-control input-md" required="">
          </div>
          <label class="col-md-4 control-label" for="companyName"></label>
          <div class="col-md-4">
            <select id="companyName" name="companyName" class="form-control" aria-placeholder="Empresa que visita">
            </select>
          </div>
          <label class="col-md-4 control-label" for="hostName"></label>
          <div class="col-md-4">
            <select id="hostName" name="hostName" class="form-control" aria-placeholder="Anfitrión">
            </select>
          </div>
          <label class="col-md-4 control-label" for="visitRegister"></label>
          <div class="col-md-4">
            <button id="visitRegister" name="visitRegister" class="btn btn-primary">Registrar Visita</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="../js/init.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
  <script src="../js/newVisit.js"></script>
</body>

</html>