<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="../css/notification.css">
  <body>
    <form id="myform" method="post">
  <label>Notificar a Anfitrión</label>
  <input type="text" name="to_email" placeholder="Email de Anfitrión"/>
  <br><br>
  <button>
  Send
  </button>
  </form>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
  </body>
  <script src="../js/init.js"></script>
  <script src="../js/notification.js"></script>
</html>
