body,
html,
.container {
    height: 100vh;
    font-family: 'Electrolize', sans-serif;
}

img {
    width: 6em;
    height: auto;
    display: inline-block;
}

table {
    width: -webkit-fill-available;
}

form{
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.welcome-tittle {
    margin-top: 3em;
    margin-bottom: 2em;
}

.btn {
    margin-top: 5em;
}

.logo {
    width: 50%;
    height: 10em;
    margin: auto;
}

.align-form{
    text-align: -webkit-center;
}

.result {
    padding: 0%;
    margin: 0%;
}